@import url(https://fonts.googleapis.com/css?family=Roboto:400,500);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css);
/* Basic */	
	body {
		background-color: #f0f0f0; 
		font-family: 'Roboto', sans-serif; 
		margin: 0; 
		padding: 0; 
		border: 0; 
		font-size: 100%; 
		display: block;
		height: 100%;
	}

	html {
		height: 100%;
	}

	header {
		background-color: #292929; 
		color: #ffffff; 
		width: 100%;
		height: 2em;
	}

	.blue { 
		background-color: #7ca0c0;
		height: 1em;
	}

	footer {
		background-color: #292929; 
		color: #ffffff; 
		position: fixed;
		width: 100%;
		text-height: 1em;
	 	padding: 1em;
	}

	a {
		color: #B70000;
	}

	h1 {
		height: 1em;
		font-weight: bold;
	}

	.wide {
		background-color: #ffffff; 
		height: 6em;
		padding: 1em;
	}

	.logo {
		float: left;
  		margin-left: 15%;
		vertical-align: middle;
	}

		.logo img {	
			height: 1em; 
			vertical-align: middle;
		}

	.home {
		float: right;
		background-color: #f0f0f0;
		margin-right: 15%;
		text-align: center;
	}

		.home a {
			color: #7ca0c0; 
			text-decoration: none; 
			font-weight: 900;
		}

		.home.one {
			padding: 1em;
			display: block;
		}

		.home.two {
			padding: 0.5em;
			width: 33%;
			display: none;
			font-size: 0.75em;
			margin: 1em;
		}
	
	.slideshow-container {
    		max-width: 1000px;
    		position: relative;
    		margin: auto;
	}

	.mySlides {
    		display: none;
  		/*height: 300px;*/
  		/*border: solid 1px black;*/
		background-color: #f0f0f0;
		border-radius: 10px;
     
	}

	.prev,
	.next {
    		cursor: pointer;
    		position: absolute;
    		top: 50%;
    		width: auto;
    		margin-top: -22px;	
		padding: 16px;
    		color: #222428;
    		font-weight: bold;
    		font-size: 30px;
    		transition: .6s ease;
    		border-radius: 0 3px 3px 0;
	}

	.next {
    		right: -50px;
    		border-radius: 3px 3px 3px 3px;
	}

	.prev {
    		left: -50px;
    		border-radius: 3px 3px 3px 3px;
	}

	.prev:hover,
	.next:hover {
    		color: #f2f2f2;
    		background-color: rgba(0, 0, 0, 0.8);
	}

	.text {
    		color: #f2f2f2;
    		font-size: 15px;
    		padding-top: 12px;
  		padding-bottom: 12px;
    		position: absolute;
    		bottom: 0;
    		width: 100%;
    		text-align: center;
    		background-color: #222428;
	}

	.numbertext {
    		color: #f2f2f2;
    		font-size: 12px;
   		padding: 8px 12px;
    		position: absolute;
    		top: 0;
	}

	.dot {
    		cursor: pointer;
    		height: 15px;
    		width: 15px;
    		margin: 0 2px;
    		background-color: #bbb;
    		border-radius: 50%;
    		display: inline-block;
    		transition: background-color .6s ease;
	}

	.active,
	.dot:hover {
    		background-color: #717171;
	}


	#NIH {
		width: 50%;
	}
	
	#content { 
		background-color: #ffffff; 
		width: 80%; 
		align: center; 
		margin: auto;
		padding: 2em;
	} 

	.holds { 
		display: flex;
		width: var(--slide-width);
	}

		.holds img {
			height: 250px; 
			margin: 25px;
		}

		.holds a { 
			text-decoration: none;
			font-weight: 700;
		} 

	/* => animation <= 
	.ui-items .ui-item:target{
  		animation:opacity 500ms cubic-bezier(.65,.05,.36,1) ;
	}

	.ui-items .ui-item:target span{
  		animation:move 1500ms cubic-bezier(.65,.05,.36,1) 100ms; 
	}
 	=> end animation <= */

	

/* Resize*/

	@media screen and (max-width: 736px) {

		.slideshow-container {
			display: none;
		}
		
		#featured { 
			display: none;
		}

		.logo {
  			align: center;
		}

			.logo img {	
				height: 1em; 
				vertical-align: middle;
			}

			.logo h1 {
				height: 0.5em;
				font-weight: bold;
			}

		.home {
			margin-left: auto;
  			margin-right: auto;
 			width: 30%;
		}

			.home a {
				color: #7ca0c0; 
				text-decoration: none; 
				font-weight: 900;
				text-align: center;
			}

			.home.one {
				display: none;
			}

			.home.two {
				display: block;
			}

		.wide {
			height: 7em;
		}

		.feature img {
			height: 200px;
		}

		.holds { 
			display: block;
		}

		#NIH {
			width: 90%;
		}		

	}







